# -------------------------
# Ignore Python bytecode and cache files
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Backup and temp files
# -------------------------
*~
*.bak
*.swp
*.swo
*.tmp

# -------------------------
# Virtual environments
# -------------------------
env/
venv/
ENV/
.venv/
.ENV/

# -------------------------
# IDE settings
# -------------------------
.idea/
.vscode/

# -------------------------
# Ignore vendor directory to prevent committing auto-created files
vendor/
